li {
    list-style: none;
}

.todoItem{
    border: solid gray;
    border-radius: 10px;
    height: 56px;
    display: grid;
    margin: 20px 10px;
    padding: 10px;
    grid-template-columns: 30px 1fr 30px;
    gap: 10px;
    align-items: center;
}

.todoItem-Text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.checkTodo{
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}
.deleteTodo{
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    font-size: 24px;
    font-weight: 900;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
    position: relative;
    top: 0;
}
.deleteTodo:hover{
    color: red;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.205);

}

.checkTodo-complete{
    opacity: 0.5;
}

.todoItem-complete {
    text-decoration: line-through;
    opacity: 0.5;

}
  
  