:root{
    --dark-bg-color: #faf9f8;
    --clean-bg-color: white;
    --text-color: black;
    --subTitle: #b8b8b8;
}

.TodoList{
    grid-column: 2 / 8;
    grid-row: 1 / 7;
    overflow: auto;
    /* height: 20px; */
    border-radius:20px ;
    /* background-color: #FFFFFF; */
    padding: 50px 20px;
    position: relative;
    transition: all .5s;
}


/* .TodoListOpen{
    transform: translateY( calc(calc(100vh / 6) * -4.5));
}

.TodoListToggleClose{
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.TodoListToggleOpen{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px #00000040;
    height: 35px;
} */