@import url(../../index.css);

.titleList{
    color: var(--items-text-color);
    padding: 0px 0px;
}

.TodoList{
    grid-column: 2 / 8;
    grid-row: 1 / 7;
    overflow: auto;
    /* height: 20px; */
    border-radius:20px ;
    /* background-color: #FFFFFF; */
    padding: 50px 20px;
    position: relative;
    transition: all .5s;
    background-image: url("https://images.saymedia-content.com/.image/ar_3:2%2Cc_limit%2Ccs_srgb%2Cfl_progressive%2Cq_auto:eco%2Cw_960/MTkyNjYzMTEwNjYxMTg2OTk2/aesthetic-mac-wallpapers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media (max-width: 800px) {
    .title{
        color: var(--text-color);
    }

}