@import url(../../index.css);

.todoSearchInput{
    border-radius: 5px;
    box-sizing: border-box;
    height:32px;
    width: 100%;
    border: none;
    /* grid-column: 1 / 7;
    grid-row: 5 / 6; */
    border: 1px solid var(--clean-bg-color);
    background-color: var(--dark-bg-color);
    color: var(--text-color);
    text-align: center;
    transition: all .5s;
}

/* .todoSearchInput:focus{
    position: fixed;
    top:0%;
    transform: translateX(-50%);
    left: 50%;
}

.todoSearchInputOpen{
    top:0%;
} */