@import url(../../index.css);



.cigarettesContainer{
    grid-column: 2 / 8;
    grid-row: 1 / 7;
    overflow: auto;
    /* border-radius:20px ; */
    /* padding: 50px 20px; */
    position: relative;
    transition: all .5s;
    background-color: white;
    display: grid;
    grid-template-rows: 150px 1fr 1fr;
    align-items: center;
    color: var(--items-text-color);
    overflow-x: hidden;
}




.titleCigarettes{

    display: flex;
    justify-content: center;
    color: var(--items-text-color);
    font-size: 40px;
    font-weight: 900;
    margin: 10px;
}
